.container {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 7%;
  }

  .outer {
    width: 120% !important;
    height: 120% !important;
    max-width: 150px !important; /* any size */
    max-height: 150px !important; /* any size */
    margin: auto;
    border-radius: 100%;
    position: relative;
    background-size: 150px 150px;
  }

  .inner {
    background-color: #7cb4b4;
    ;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .camera-icon {
    height: 30px;
    width: 30px;
    color: black;
  }

  .btnregistro{
    --background: #7cb4b4;
    color: black;
    margin-top: 10%;
    margin-bottom: 4%;
 }

 .text2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  margin-top:2%;
}

ion-button > ion-icon[name="log-out-outline"] {
  font-size: 27px;

}