<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/">

      </ion-back-button>
    </ion-buttons>
    <ion-title><strong>Registro de Cliente</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrocliente" (submit)="enviardata()" >
  <ion-card>
    <ion-card-content>

     <ion-label class="texttitle" ><strong>Complete los datos del cliente</strong> </ion-label> 

 
     <ion-item >
      <ion-label position="floating" >Nombre:</ion-label>
      <ion-input type="text" formControlName = 'nombre' ></ion-input>

    </ion-item>

    
    <ion-item >
      <ion-label position="floating" >Apellido:</ion-label>
      <ion-input type="text" formControlName = 'apellido' ></ion-input>

    </ion-item>

    <ion-item >
      <ion-label position="floating" >Dirección:</ion-label>
      <ion-input type="text" required="direccion" formControlName = 'direccion'></ion-input>

    </ion-item>
    
    <ion-item>
      <ion-label position="floating">RUC o ci:</ion-label>
      <ion-input type="text" formControlName = 'ruci'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nº Celular: </ion-label>
      <ion-input type="tel" placeholder="09XX -XXX-XXX" formControlName = 'telefono'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico: </ion-label>
      <ion-input type="email" placeholder="ejemplo@gmail.com" formControlName = 'correo'></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Notas:</ion-label>
      <ion-textarea formControlName = 'notas'></ion-textarea>
    </ion-item>
    
      <ion-button class="btnguardar" [routerLink]="'/clientes'" > <ion-icon name="checkmark"></ion-icon> </ion-button>
      <ion-button class="btncancelar" [routerLink]="'/clientes'"> <ion-icon name="close" ></ion-icon> </ion-button>
     
      
   

    </ion-card-content>
  </ion-card>
  </form>
</ion-content>