.btnproducto{
    --background: #7cb4b4;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    
}

.btnguardar{
    --background: #7cb4b4;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}

.total{
    margin-left: 60%;
    
    
}
ion-footer{
    height: 13%;
}

ion-icon[name="chevron-back"] {
    font-size: 25px;
    margin-left: 5%;
  
  }