ion-content > ion-grid{
   margin-left: 10px;
   margin-right: 25px;
}

.general{
    height: 30px;  
    margin-top: 7%;
}





.obse{
    height: 100px;  
   
}

h6{
    margin-top: 70%;
    text-align: center;
}
