
<ion-content>

  <ion-content mode="ios">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-item>
              <ion-label class="texttitle"><strong>N°</strong></ion-label>
              <input type="number" class="numero" disabled />
            </ion-item>
          </ion-col>

         
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label class="texttitle"><strong>Fecha</strong></ion-label>
            <input type="date" class="fecha" />
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <ion-item>
              <ion-label position="floating">Cliente</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-button size="small" class="btnopciones"
              ><ion-icon
                color="success"
                size="large"
                name="ellipsis-horizontal-circle-outline"
              >
              </ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select>
            <ion-select-option value="p">Presupuestado</ion-select-option>
            <ion-select-option value="t">Terminado</ion-select-option>
            <ion-select-option value="e">Entregado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-grid>

      <ion-button type="submit" class="btnproducto" expand="block">Agregar producto</ion-button>
    </ion-card>
  </ion-content>
</ion-content>
