.general{
    height: 30px;  
    margin-top: 7%;
}

.btnAgregar{
    --background: #7cb4b4;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

ion-button > ion-icon[name="close"]{
    color: black;
    position: fixed;
    
}