ion-searchbar{
    --background :#b1b1b1;
}

ion-fab-button{
    --background:#7cb4b4;
      color: black;
  }
  
  ion-fab-button > ion-icon[name="add"] {
      color: black;
      font-size: 35px;
  }

  .eliminar{
    --background:#7cb4b4;
    color: black;
  }

  .editar{
    --background:#b1b1b1;
    color: black;

  }

  p{
    text-align: center;
    color: #4c6c6c;
    margin-top: 1%;
    margin-bottom: 0%;
    
    
   
  }