

  <ion-content mode="ios" class="ion-padding">
    <ion-card>
      <ion-button   size="small" class="btnopciones"
              ><ion-icon
                size="large"
                name="close"
              >
              </ion-icon
            ></ion-button>

    <ion-grid class="ion-margin">
      
      <ion-row>
        <ion-item>
          <ion-icon slot="start" name="search"></ion-icon>
          <ion-label class="general"><strong>Producto: </strong></ion-label>
          <ion-input type="text"  ></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-icon slot="start" name="cash"></ion-icon>
          <ion-label class="general"><strong>Precio: </strong></ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-icon slot="start" name="cart"></ion-icon>
          <ion-label class="general"><strong>Cantidad: </strong></ion-label>
          <ion-input type="number"  ></ion-input>
        </ion-item>
      </ion-row>


        
          


      
    
      
      
      

    </ion-grid>

    <ion-button type="submit" class="btnAgregar" expand="block"
    >Agregar</ion-button
  >
      
  </ion-card>

    

</ion-content>
