ion-content > ion-grid{
   margin-left: 10px;
   margin-right: 25px;
}

.general{
    height: 30px;  
    margin-top: 7%;
}





.obse{
    height: 100px;  
   
}

h6{
    margin-top: 5%;
    text-align: center;
}
ion-icon[name="chevron-forward"] {
    font-size: 25px;
    margin-left: 90%;
    margin-top: 50%;
  
  }