<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        
      
    </ion-buttons>
    <ion-title><strong>Productos</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-searchbar placeholder="Busqueda de producto"></ion-searchbar>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  [routerLink]="['/registroproducto']"><ion-icon name="add"></ion-icon> </ion-fab-button>

  </ion-fab>


  <ion-list>
    <ion-item>
      <ion-label> 001 - Cajas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>002 - Remera perzonalizada</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>003 - Taza personalizada</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>004 -Termo perzonalizado</ion-label>
    </ion-item>
    
  </ion-list> 
  
  
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
  </ion-toolbar>
</ion-footer>