<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/perfil-usuario'"
        ><ion-icon name="person-circle"></ion-icon
      ></ion-button>
      <ion-button [routerLink]="['/configuracion']"
        ><ion-icon name="settings"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-title><strong>IussusApp</strong></ion-title>
  </ion-toolbar>
</ion-header>

<!--contenido-->




<ion-content mode="ios" >
  <ion-card *ngFor="let item of pedidos">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-label class="texttitle"
            ><strong>Pedido Nº {{item.ped_codigo}} </strong>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label class="texttitle"
            ><strong>{{item.ped_fecha}} </strong>
          </ion-label>
        </ion-col>

        <ion-col>
          
            <ion-icon class="btnoption"
            type="button"
           (click)="opciones(item.ped_codigo,item.estado)"
              color="success"
              size="large"
              name="ellipsis-horizontal-circle-outline" >
       
            </ion-icon>
             
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-label class="texttitle2">{{item.nombre}} - {{item.direccion}} </ion-label>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <ion-label class="texttitle"
            ><strong>{{item.ped_total}}gs  </strong>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="texttitle3">{{item.estado}} </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <!--Registros -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="add"></ion-icon> </ion-fab-button>

    <ion-fab-list side="top" class="opciones">
      <ion-fab-button [routerLink]="['/pedido/cabecera']"
        ><ion-icon name="clipboard"> </ion-icon>
      </ion-fab-button>

      <ion-fab-button [routerLink]="['/registroestado/0']"
        ><ion-icon name="pricetag"></ion-icon
      ></ion-fab-button>

      <ion-fab-button [routerLink]="['/registroproducto/0']"
        ><ion-icon name="cart"></ion-icon
      ></ion-fab-button>
      <ion-fab-button [routerLink]="['/registrocliente/0']"
        ><ion-icon name="people"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-footer>
  <ion-toolbar class="footer">
   
  </ion-toolbar>
</ion-footer>
