.numero{
    width: 45px;
   background:rgb(204, 204, 204);
   border-radius: 10px;
}

.fecha{
    width: 200px;
    background:rgb(204, 204, 204);
   border-radius: 10px;
   border-color:rgb(204, 204, 204) ;
}