<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Agenda</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime color="secondary"> </ion-datetime>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/registroagenda/0']"
      ><ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let item of agendas">
    <ion-grid>
      <ion-label class="texttitle"><strong>{{this.item.nombre}} - {{this.item.age_fecha}} <ion-icon (click)="eliminar(item.age_codigo)" name="trash"></ion-icon> </strong> </ion-label>
      <ion-row>
        <ion-label class="texttitle2">{{this.item.age_notas}}</ion-label>
      </ion-row>
   

   

    </ion-grid>
  </ion-card>


