ion-datetime{
    margin: auto;
}

.texttitle2{
   
    margin-left:5px ;
margin-top: 15px;  }

.texttitle{
    margin-left:5px ;
 }

 ion-card{
    --background: #b6e9e9;

 }

 ion-fab-button > ion-icon[name="add"] {
    color: black;
    font-size: 35px;
}

ion-fab-button{
    --background:#7cb4b4;
      color: black;
  }
  
  ion-icon[name="trash"] {
    size: 35px;
  
  }