ion-content {
    --background: var(--ion-color-iussusappclaro);
    font-family: "Times New Roman", Times, serif;
    
  }
 
 
  
  h1 {
    margin: 64px 0 0 0;
    color: var(--ion-color-dark);
    font-style: italic;
    font-size: 50px;
    padding: 1em 1em 1em 1em;
    text-align: center;
  }
  
