#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button > ion-icon[name="settings"] {
  font-size: 25px;

}

ion-button > ion-icon[name="person-circle"] {
  font-size: 27px;

}

ion-fab-button{
  --background:#7cb4b4;
    color: black;
}

ion-fab-button > ion-icon[name="add"] {
    color: black;
    font-size: 35px;
}

ion-fab-list >ion-fab-button > ion-icon[name="people"] {
  color: black;
  font-size: 30px;
}
ion-fab-list >ion-fab-button > ion-icon[name="clipboard"] {
  color: black;
  font-size: 30px;
}
ion-fab-list >ion-fab-button > ion-icon[name="cart"] {
  color: black;
  font-size: 30px;
}
