<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/">

      </ion-back-button>
    </ion-buttons>
    <ion-title><strong>Registro de Producto</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registroproducto" (ngSubmit)="guardarProducto()">

  <ion-card>
    <ion-card-content>
      <ion-label class="texttitle"
        ><strong>Complete los datos del producto</strong>
      </ion-label>

  

      <ion-item>
        <ion-label position="floating">Descripción: </ion-label>
        <ion-input
          type="text"
          placeholder="Establezca la descripcion"
          formControlName="descripcion"
        ></ion-input>
      </ion-item>

     
          <ion-item>
            <ion-label position="floating">Costo: </ion-label>
            <ion-input type="number"  formControlName="costo"></ion-input>
            
          </ion-item>
       
          <ion-item>
            <ion-label position="floating">Precio: </ion-label>
            <ion-input type="number"   formControlName="precio"></ion-input>
          </ion-item>
       

      <ion-item>
        <ion-label>U.Medida</ion-label>
        <ion-select  formControlName="unimed">
          <ion-select-option value="1">Unidad</ion-select-option>
          <ion-select-option value="2">Metros</ion-select-option>
          <ion-select-option value="3">Centimetros</ion-select-option>
          <ion-select-option value="4">Kg</ion-select-option>
          
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Observación: </ion-label>
        <ion-textarea  formControlName="obse"></ion-textarea>
      </ion-item>

    </ion-card-content>
    <ion-button class="btnguardar" type="submit"  [disabled]="!registroproducto.valid" ><ion-icon name="checkmark"></ion-icon> </ion-button>
    <ion-button class="btncancelar" [routerLink]="'/productos'"> <ion-icon name="close" ></ion-icon> </ion-button>
  </ion-card>
</form>
</ion-content>
