.btnproducto{
    --background: #7cb4b4;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    
}

.btnguardar{
    --background: #7cb4b4;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    
}

.total{
    margin-left: 60%;
    
    
}
ion-footer{
    height: 15%;
}